# Dependências do Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist/
build/

# Arquivos de ambiente
.env

# Cache do projeto
.cache/

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
